// colors

$black: rgba(0, 0, 0, 1);
$black-30: rgba(0, 0, 0, 0.3);
$white: rgba(255, 255, 255, 1);
$white-30:rgba(255, 255, 255, 0.3);

// fonts

$main-font: "PTSans", "Arial", sans-serif;

// media breakpoints

$width-desktop: 1200px;
$width-laptop: 960px;
$width-tablet: 768px;
$width-mobile: 320px;

// retina 2x

$retina-dpi: 192dpi;
$retina-dppx: 2dppx;
